{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CampagnyName</th>
                <th>CompagnyType</th>
                <th>ContactName</th>
                <th>OccupiedPost</th>
                <th>PhoneNumber</th>
                <th>ContactEmail</th>
                <th>Notes</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>DelatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.campagnyName }}</td>
                <td>{{ client.compagnyType }}</td>
                <td>{{ client.contactName }}</td>
                <td>{{ client.occupiedPost }}</td>
                <td>{{ client.phoneNumber }}</td>
                <td>{{ client.contactEmail }}</td>
                <td>{{ client.notes }}</td>
                <td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.delatedAt ? client.delatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
